<div class="login">
    <div class="flex-w-25"></div>
    <div class="flex-w-65 my-5">
        <mat-card>
            <mat-card-content>
                <div class="row div-height-inherit">
                    <div class="flex-w-65 column"></div>
                    <div class="flex-w-10 column div-height-inherit">
                        <mat-divider class="ml-10-mr-20" vertical="true"></mat-divider>
                    </div>
                    <div class="flex-w-25 column div-height-inherit">
                        <div class="mt-30">
                            <h1>Login</h1>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="mt-10">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Enter username">
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Enter password">
                                <mat-icon matSuffix>visibility</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="flex-w-10"></div>
</div>