<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <ngt-side-nav></ngt-side-nav>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary" class="top-nav">
            <div class="top-nav-section-1">
                <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>My App</span>
            </div>

            <div class="top-nav-section-2">
                <button mat-icon-button [matMenuTriggerFor]="menu" class="float-right" disableRipple>
                    <mat-icon>account_circle</mat-icon><mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </div>

</mat-drawer-container>